/* Main Style */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

/* Navigation style */
.header {
  height: 69px;
  width: 100%;
  display: block;
  background-color: black;
  position: fixed;
  border-bottom: 1px solid seashell;
  top: 0px;
}
.logo {
  float: left;
  padding-left: 10px;
  margin-top: 7px;
  height: 50px;
}
.navigation {
  float: right;
  height: 100%;
  margin: 0 auto;
}
.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0 20px;
}
.navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  text-decoration: underline;
  color: white;
}

/* Hero content style */
.mission-content {
  background-image: url('./images/img-mission-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  max-width: 1000px;
  margin: 40px auto 40px auto;
  display: flex;
}
.text {
  margin: auto;
  background-color: black;
  width: 100%;
}

/* Tea of the Month style */
.image-container {
  display: inline-flex;
  max-width: 1000px;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.images img {
  height: 200px;
  width: 300px;
  padding: 10px 10px;
}

/* Locations Style */
.banner {
  height: 500px;
  max-width: 1200px;
  margin: 40px auto auto auto;
  padding-top: 85px;
  background-image: url('./images/img-locations-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box-container {
  display: flex;
  justify-content: space-between;
  max-width: 1050px;
  margin: 15px auto auto auto;
}
.box {
  height: 300px;
  padding: 20px;
  flex-basis: 30%;
  box-sizing: border-box;
  background-color: black;
  margin-bottom: auto;
  opacity: 0.8;
}

/* Footer */
footer {
  display: block;
  float: left;
  margin-left: 10px;
}
